body { background-color: #c4effc; font-size: 15px; }
h3 { font-family:Verdana, Geneva, Tahoma, sans-serif;}
a:hover { color: #ff00bf}


p { padding-top: 2px; padding-bottom: 2px;}
table { border: 1px}